@import "../scss/global";

.container {
    @include fullScreen();
    @include flex();
    @include media(mobile) {
        @include flex(center, flex-start);
        height: 70vh;
    }
    .child {
        @include fullRatio(97%, 95%);
        border-radius: $sm;
        overflow: hidden;
        position: relative;

        @include media(mobile) {
            width: 95%;
            // height: 70%;
            margin-top: 3%;
        }
    }
}