@import "../scss/global";

.container {
  overflow-x: hidden; // - gd
  @include fullScreen($h: auto);
  .title {
    margin-top: 0.5%;
    padding-left: 8%;
    position: relative;
    width: fit-content;
    font-size: 2.5rem;
    line-height: 100%;

    
    &::before {
      content: "";
      position: absolute;
      top: 45%;
      left: -10%;
      width: 35%;
      height: 10%;
      background: #000;
      @include media(mobile) {
        width: 10%;
      }
    }
  }

  // updated - gd
  .child {
    width: 100%;
    // height: 90%;
    padding: 1% 2%;
    // @include flex();
    // gap: 1rem;
  }
}
